body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 450px;
    width: 400px;
    border: 1px solid black;
    border-radius: 12px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    min-height: 15%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 12px;
    padding: 10px;
}

.main-display {
    width: 100%;
    display: flex;
    justify-content: end;
    word-break: break-all;
}

.sub-display {
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: small;
}

.container {
    border: 1px solid red;
    width: 60%;
}

.header-buttons {
    border: 1px solid blue;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-buttons button {
    flex: 1;
    margin: 5px;
}

.number-buttons {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid fuchsia;
}

.number-buttons button {
    height: auto;
    flex: 1 0 20%;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

