body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 60%;
    width: 30%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 12px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    min-height: 10%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 12px;
    padding: 10px;
}

.main-display {
    width: 100%;
    display: flex;
    justify-content: end;
    border: 1px solid green;
    word-break: break-all;
}

.sub-display {
    width: 100%;
    display: flex;
    justify-content: end;
    border: 1px solid red;
    font-size: small;
}


.container {
    border: 1px solid red;
}

.number-buttons {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid purple;
}

.number-buttons button {
    flex: 0 0 25%;
}