body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;

}

/*
Color Selection Menu
*/
.color-selection-menu {
    width: 20%;
    height: 65%;
    border: 2px solid black;
    border-radius: 15%;
    margin-right: 25px;
    box-shadow: 10px 5px 5px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-value-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 30%;
    margin-top: 10px;
}

/* 
Slider
*/
.slidecontainer {
    width: 75%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: gray;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

/*
GRID ON/OFF BUTTONS
*/
.grid-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 75%;
}

.grid-buttons button {
    display: flex;
    justify-content: center;
    border-radius: 12px;
    margin-top: 5px;
    height: 50%;
    width: 30%;
}

/*
Color Selection List
*/
span {
    margin-top: 20px;
    margin-bottom: -20px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 50%;
    padding: 0;
}

li {
    width: 20px;
    height: 20px;
}

.red {
    background-color: red;
    border: 1px solid black;
}

.blue {
    background-color: blue;
    border: 1px solid black;
}

.green {
    background-color: green;
    border: 1px solid black;
}

.white {
    background-color: white;
    border: 1px solid black;
}

.rainbow {
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
    border: 1px solid black; 
}

/*
GRID
*/
.grid-container {
    border: 1px solid black;
    padding: 0;
    margin: 0;
    width: 35%;
    height: 60%;
    display: flex;
}

.row {
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    
}

.gridsquare {
    border: 1px solid gray;
    width: 100%;
    user-select: none;
}


