body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/*
Scoring information
*/
.score-container {
    display: flex;
    justify-content: center;
}

.score-card {
    display: flex;
    margin: 10px;
}

.win {
    margin: 5px;
    color: green;
}

.lose {
    margin: 5px;
    color: red;
}

.tie {
    margin: 5px;
    color: yellow;
}

/*
User information
*/
.user-cards {
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
}

.user-cards div {
    border: 1px solid black;
    padding: 20px;
    border-radius: 25px;
}