body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #000;
}

/*
Scoring information
*/
.score-container {
    display: flex;
    justify-content: center;
}

.score-card {
    display: flex;
    margin: 10px;
}

.win {
    margin: 5px;
    color: green;
}

.lose {
    margin: 5px;
    color: red;
}

.tie {
    margin: 5px;
    color: yellow;
}

/*
User information
*/
.user-cards {
    display: flex;
    justify-content: space-around;
}

.user-cards div {
    border: 1px solid black;
    padding: 20px;
    border-radius: 25px;
    user-select: none;
}
.reset-container {
    display: flex;
}
.reset-button {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 10px;
}